    <div id="content">
        <div id="page-title">
            <div class="container clearfix">
                <h1>FAQs<span>/ Preguntas frecuentes</span></h1>
            </div>
        </div>

            <div class="content-wrap">


                <div class="container clearfix">


                    <div class="postcontent nobottommargin clearfix">


                        <ul id="portfolio-filter" class="clearfix">

                            <li class="activeFilter"><a href="#" data-filter="all">All</a></li>
                            <li><a href="#" data-filter=".faq-marketplace">Marketplace</a></li>
                            <li><a href="#" data-filter=".faq-authors">Authors</a></li>
                            <li><a href="#" data-filter=".faq-legal">Legal</a></li>
                            <li><a href="#" data-filter=".faq-itemdiscussion">Item Discussion</a></li>
                            <li><a href="#" data-filter=".faq-affiliates">Affiliates</a></li>
                            <li><a href="#" data-filter=".faq-miscellaneous">Miscellaneous</a></li>

                        </ul>


                        <div id="faqs" class="clearfix">


                            <div class="toggle faq faq-marketplace faq-authors clearfix">

                                <div class="togglet"><i class="icon-question-sign"></i>How do I become an author?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-authors faq-miscellaneous clearfix">

                                <div class="togglet"><i class="icon-comments-alt"></i>Helpful Resources for Authors</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-miscellaneous clearfix">

                                <div class="togglet"><i class="icon-lock"></i>How much money can I make?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-authors faq-legal faq-itemdiscussion clearfix">

                                <div class="togglet"><i class="icon-download-alt"></i>Can I offer my items for free on a promotional basis?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-marketplace faq-authors clearfix">

                                <div class="togglet"><i class="icon-check"></i>An Introduction to the Marketplaces for Authors</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-affiliates faq-miscellaneous clearfix">

                                <div class="togglet"><i class="icon-money"></i>How does the Tuts+ Premium affiliate program work?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-legal faq-itemdiscussion clearfix">

                                <div class="togglet"><i class="icon-picture"></i>What Images, Videos, Code or Music Can I Use in my Items?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-legal faq-authors faq-itemdiscussion clearfix">

                                <div class="togglet"><i class="icon-file"></i>Can I use trademarked names in my items?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-affiliates clearfix">

                                <div class="togglet"><i class="icon-bar-chart"></i>Tips for Increasing Your Referral Income</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-authors faq-itemdiscussion clearfix">

                                <div class="togglet"><i class="icon-phone"></i>How can I get support for an item which isn't working correctly?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                            <div class="toggle faq faq-marketplace faq-itemdiscussion clearfix">

                                <div class="togglet"><i class="icon-credit-card"></i>How do I pay for items on the Marketplaces?</div>

                                <div class="togglec clearfix">

                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut sapiente incidunt laboriosam accusamus fuga voluptatum iure nulla pariatur doloribus labore praesentium provident ipsa vitae ipsum quos sunt explicabo recusandae quis repellendus ducimus officia perferendis a ad illum eum minus voluptate odit non quidem reiciendis. Enim pariatur mollitia quae aliquam ipsam voluptas a numquam assumenda corporis fugiat adipisci optio quidem minima nesciunt quasi suscipit praesentium error voluptate magnam quia. Temporibus odio a accusantium adipisci ut possimus libero sint enim nam id eligendi nisi molestias dolorem. Inventore eius suscipit officia quisquam possimus quia cumque quidem atque impedit similique? Ea laudantium animi vero.

                                </div>

                            </div>


                        </div>


                        <script type="text/javascript">


                            $(document).ready(function(){

                                var $faqItems = $('#faqs .faq');

                                $('#portfolio-filter a').click(function(){

                                    $('#portfolio-filter li').removeClass('activeFilter');

                                    $(this).parent('li').addClass('activeFilter');

                                    var faqSelector = $(this).attr('data-filter');

                                    $faqItems.css('display', 'none');

                                    if( faqSelector != 'all' ) {

                                        $( faqSelector ).fadeIn(500);

                                    } else {

                                        $faqItems.fadeIn(500);

                                    }

                                    return false;

                               });

                            });


                        </script>


                    </div>


                    <div class="sidebar col_last nobottommargin clearfix">

                        <div class="sidebar-widgets-wrap clearfix">






                        </div>

                    </div>


                </div>


            </div>


        </div>