<div id="slider" class="revolution-slider">

            <div class="container clearfix">


                <div class="fullwidthbanner-container" style="max-height: 400px; height: 400px;">
                    <div class="fullwidthbanner" style="max-height: 400px; height: 400px;">

                        <ul class="clearfix">

                            <li data-transition="random" data-slotamount="10" data-delay="12500" data-masterspeed="300">

                                    <img src="images/slider/revolution/2/bg.png" />

                                    <div class="caption large_text lft" style="background-color: #8AAD1F; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 28px; padding: 5px 8px;"
                                         data-x="330"
                                         data-y="38"
                                         data-speed="300"
                                         data-start="1000"
                                         data-easing="easeOutExpo">Ultra Responsive Design</div>

                                    <div class="caption lft ltb"
                                         data-x="50"
                                         data-y="120"
                                         data-speed="300"
                                         data-start="1500"
                                         data-easing="easeOutExpo" data-end="4500" data-endspeed="300" data-endeasing="easeInSine"><img src="images/slider/revolution/2/mac.png" /></div>

                                    <div class="caption large_text sfr" style="background-color: #666; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="170"
                                         data-speed="300"
                                         data-start="1800"
                                         data-easing="easeOutBack" data-end="4000" data-endspeed="300" data-endeasing="easeInBack">Looks Great on Large Displays</div>

                                    <div class="caption large_text sfr" style="background-color: #4F7D59; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="212"
                                         data-speed="300"
                                         data-start="2000"
                                         data-easing="easeOutBack" data-end="4250" data-endspeed="300" data-endeasing="easeInBack">Cross Browser Compatibility</div>

                                    <div class="caption large_text sfr" style="background-color: #487984; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="254"
                                         data-speed="300"
                                         data-start="2200"
                                         data-easing="easeOutBack" data-end="4500" data-endspeed="300" data-endeasing="easeInBack">Boxed &amp; Full Width Layouts</div>

                                    <div class="caption lft ltb"
                                         data-x="50"
                                         data-y="105"
                                         data-speed="300"
                                         data-start="5500"
                                         data-easing="easeOutExpo" data-end="8500" data-endspeed="300" data-endeasing="easeInSine"><img src="images/slider/revolution/2/ipad.png" /></div>

                                    <div class="caption large_text sfr" style="background-color: #666; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="170"
                                         data-speed="300"
                                         data-start="5800"
                                         data-easing="easeOutBack" data-end="8000" data-endspeed="300" data-endeasing="easeInBack">iPad &amp; Android Tablets Compatible</div>

                                    <div class="caption large_text sfr" style="background-color: #4F7D59; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="212"
                                         data-speed="300"
                                         data-start="6000"
                                         data-easing="easeOutBack" data-end="8250" data-endspeed="300" data-endeasing="easeInBack">Smart Page Resizing</div>

                                    <div class="caption large_text sfr" style="background-color: #487984; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="254"
                                         data-speed="300"
                                         data-start="6200"
                                         data-easing="easeOutBack" data-end="8500" data-endspeed="300" data-endeasing="easeInBack">Touch Swipe Support</div>

                                    <div class="caption lft ltb"
                                         data-x="55"
                                         data-y="90"
                                         data-speed="300"
                                         data-start="9000"
                                         data-easing="easeOutExpo"><img src="images/slider/revolution/2/iphone.png" /></div>

                                    <div class="caption large_text sfr" style="background-color: #666; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="170"
                                         data-speed="300"
                                         data-start="9300"
                                         data-easing="easeOutBack">Resizable down to iPhone</div>

                                    <div class="caption large_text sfr" style="background-color: #4F7D59; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="212"
                                         data-speed="300"
                                         data-start="9500"
                                         data-easing="easeOutBack">Portrait &amp; Landscape Layouts</div>

                                    <div class="caption large_text sfr" style="background-color: #487984; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif; font-weight: 300; font-size: 20px; line-height: 32px; padding: 3px 9px;"
                                         data-x="570"
                                         data-y="254"
                                         data-speed="300"
                                         data-start="9700"
                                         data-easing="easeOutBack">Touch Swipe Support</div>

                            </li>


                        </ul>

                        <div class="slider-line"></div>

                    </div>
                </div>


                <script type="text/javascript">

                    var tpj=jQuery;
                    tpj.noConflict();

                    tpj(document).ready(function() {

                    if (tpj.fn.cssOriginal!=undefined)
                        tpj.fn.css = tpj.fn.cssOriginal;

                        tpj('.fullwidthbanner').revolution(
                            {
                                delay:9000,
                                startwidth:1020,
                                startheight:400,

                                onHoverStop:"off",                      // Stop Banner Timet at Hover on Slide on/off

                                thumbWidth:100,                         // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                                thumbHeight:50,
                                thumbAmount:3,

                                navigationType:"none",                  //bullet, thumb, none, both  (No Shadow in Fullwidth Version !)
                                navigationArrows:"verticalcentered",        //nexttobullets, verticalcentered, none
                                navigationStyle:"square",               //round,square,navbar

                                touchenabled:"on",                      // Enable Swipe Function : on/off

                                navOffsetHorizontal:0,
                                navOffsetVertical:10,

                                stopAtSlide:-1,                         // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                                stopAfterLoops:-1,                      // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                                hideCaptionAtLimit:0,                   // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                                hideAllCaptionAtLilmit:0,               // Hide all The Captions if Width of Browser is less then this value
                                hideSliderAtLimit:0,                    // Hide the whole slider, and stop also functions if Width of Browser is less than this value


                                fullWidth:"on",

                                shadow:0                                //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

                            });

                });

                </script>


            </div>


        </div>


        <div id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    <div class="col_one_third">
                        <div class="product-feature product-feature2">
                            <span class="icon-copy"></span>
                            <h3>85+ HTML Pages</h3>
                            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>

                    <div class="col_one_third">
                        <div class="product-feature product-feature2">
                            <span class="icon-fullscreen"></span>
                            <h3>Fully Responsive</h3>
                            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>

                    <div class="col_one_third col_last">
                        <div class="product-feature product-feature2">
                            <span class="icon-picture"></span>
                            <h3>12 Slider Plugins</h3>
                            <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="dotted-divider"></div>
                </div>
            </div>
        </div>
